body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("~antd/dist/antd.css");
@import url("~bootstrap/dist/css/bootstrap.min.css");

h1 {
  font-family: "Playfair Display", serif;
}

h5 {
  font-family: "Playfair Display", serif;
}

section {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
}

.nav-stick {
  top: 0px;
  left: 0px;
  width: 100%;
  position: sticky;
  background-color: #f2f2f2;
  border-bottom: 1px solid rgb(165, 162, 162);
  z-index: 99;
}

.login-scr-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.faIcon {
  margin-left: 20%;
}

.btn-writing {
  padding-left: 20px;
  font-weight: bold;
  font-size: medium;
}
.cardShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardHeading {
  margin: 30px 30px 10px 30px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}

.cardSize {
  margin: 20px;
  box-shadow: black;
}

.signupStyle {
  margin: 30px;
}

.formField {
  margin-top: 30px;
}

.searchBarShadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.infoScreenTopBtn {
  background-color: #f0f0f0;
  text-decoration: none;
}
.imageDescription {
  margin-top: 10%;
}

@media only screen and (max-width: 1000px) {
  .btn-writing {
    padding-left: 10px;
    font-size: small;
  }
}

.dropdown .ant-select-selector {
  padding: 0px 12px !important;
  border-radius: 5px !important;
  background-color: rgba(255, 255, 255, 0.35) !important;
  font-weight: 600;
}

.radio-text {
  border: none !important;
  border-radius: 6px !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

.radio-text:hover {
  background-color: rgba(255, 255, 255, 0.45) !important;
}

.radio-text span {
  color: black;
}

label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked.radio-text {
  background-color: rgba(255, 255, 255, 0.45) !important;
}

label.ant-radio-button-wrapper.radio-text span {
  white-space: nowrap !important;
}

label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked.radio-text
  span {
  font-weight: 600 !important;
  white-space: nowrap !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  width: 0px !important;
}

.radio {
  display: flex !important;
  flex-wrap: nowrap !important;
  overflow-x: scroll !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.radio::-webkit-scrollbar {
  display: none;
}

.prod-card {
  border-radius: 10px !important;
}

.prod-card .ant-card-cover img {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.prod-card .ant-card-body {
  padding: 12px 20px;
}

.prod-card .ant-card-body .icon {
  font-size: 16px;
}

.prod-card .ant-card-body .heart-icon {
  color: rgb(225, 48, 108);
}

@media only screen and (max-width: 765px) {
  .imageDescription {
    margin-top: 10%;
  }
  .topbtn {
    margin-top: 5%;
  }
}
